name: Conventional Changelog Action
on:
  push:
      branches:
          - main
          - staging
          - develop
  pull_request:
      branches:
          - main
          - staging
          - develop
jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump version and push tag
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            git-message: "chore(release): {version}"
            preset: "angular"
            tag-prefix: "v"
            release-count: 1
            output-file: "CHANGELOG.md"
          # skip-on-empty: false

      - name: Create Release
        uses: actions/create-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
            tag_name: ${{ steps.changelog.outputs.tag }}
            release_name: ${{ steps.changelog.outputs.tag }}
            body: ${{ steps.changelog.outputs.clean_changelog }}